# Copia este archivo como .env y completa los valores

# Usuario de Docker Hub (ej: juanperez)
DOCKER_USER=carlitosmul

# Contraseña para PostgreSQL
DB_PASSWORD=

# Secreto para JWT (debe ser el mismo en todos los servicios que lo usen)
JWT_SECRET=

# Credenciales OCI (Oracle Cloud) para mascotas-service
OCI_USER_ID=
OCI_TENANCY_ID=
OCI_FINGERPRINT=
OCI_REGION=sa-santiago-1
OCI_NAMESPACE=
OCI_BUCKET=Mascotas-bucket
